
@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-BoldCondIt.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-BoldCondIt.otf')  format('opentype'),
	     url('../fonts/MyriadPro-BoldCondIt.woff') format('woff'), url('../fonts/MyriadPro-BoldCondIt.ttf')  format('truetype'), url('../fonts/MyriadPro-BoldCondIt.svg#MyriadPro-BoldCondIt') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-LightSemiExt.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-LightSemiExt.otf')  format('opentype'),
	     url('../fonts/MyriadPro-LightSemiExt.woff') format('woff'), url('../fonts/MyriadPro-LightSemiExt.ttf')  format('truetype'), url('../fonts/MyriadPro-LightSemiExt.svg#MyriadPro-LightSemiExt') format('svg');
  font-weight: 200;
  font-style: normal;
}


@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-Bold.otf')  format('opentype'),
	     url('../fonts/MyriadPro-Bold.woff') format('woff'), url('../fonts/MyriadPro-Bold.ttf')  format('truetype'), url('../fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-Regular.otf')  format('opentype'),
	     url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf')  format('truetype'), url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
