html, body, * {
  margin: 0;
  padding: 0;
  border: none;
}

.content {
  width: 1200px;
  margin: 0 auto;
}

/* header top-bar */

.header {
  background: url('../images/header_bg.jpg') no-repeat;
  background-size: cover;
}

.header-inner {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header__top-bar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.top-bar__logo {
  flex: 0 0 auto;
}

.top-bar__contacts {
  flex: 0 0 270px;
  text-align: right;
  padding-left: 20px;
  font-family: 'Avanti';
  color: #000;
  text-align: left;
}

.top-bar__contacts-phone {
  font-size: 0;
}

.top-bar__contacts-phone > *+* {
  margin-left: 20px;
}

.contacts-phone__text {
  font-size: 30px;
}

.top-bar__contacts-days {
  margin: 4px 0 0 44px;
  font-size: 14px;
}

.top-bar__contacts-email {
  font-size: 0;
}

.top-bar__contacts-email > *+* {
  margin-left: 20px;
}

.contacts-email__icon {
  margin-left: 6px;
}

.contacts-email__text {
  font-size: 17px;
}


/* header main */

.header__main {
  padding: 45px 35px 10px;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__main-left {
  flex: 0 0 685px;
}

.header__main-right {
  flex: 0 0 385px;
}

/* slider */
.header__main-slider {
  width: 685px;
  overflow: hidden;
}

.header__slides-inner {
  width: 2055px;
  overflow: hidden;
}

.header__slides-inner > * {
  float: left;
}

.main-slider__item {
  width: 669px;
  height: 416px;
  position: relative;
}

#main-slider__item-1 {
  background: url('../images/main-slider_1.jpg');
  background-size: cover;
}

.main-slider__item-cost {
  background: url('../images/cost-bg.png');
  position: absolute;
  bottom: 50px;
  right: -12px;
  width: 390px;
  height: 56px;
  display: block;
  z-index: 2;
}

.main-slider__item-cost-text {
  font-family: 'MyriadPro';
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 6px 20px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 390px;
  box-sizing: border-box;
  white-space: nowrap;
}

.main-slider__controls {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.main-slider__control-item {
  display: block;
  flex: 0 0 auto;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  margin: 5px;
  cursor: pointer;
}

.main-slider__control-item--current {
  background: linear-gradient(to bottom, #d4f1a4 0%,#c9ed8e 3%,#c1ea7c 5%,#bce96f 8%,#b9e869 11%,#b2e55b 21%,#a2e13b 40%,#95db1b 67%,#8ed515 75%,#7bba11 92%,#7eba19 95%,#81ba21 96%,#85bc2a 97%,#94c245 100%);
}

/* header form and other */

.header__main-expertize {
  background: rgba(0,0,0, 0.4);
  font-family: 'MyriadPro';
  padding: 20px;
}

.main-expertize__cost {
  font-size: 37px;
  font-weight: bold;
  color: #ffb71b;
  text-align: center;
  letter-spacing: -2px;
  line-height: 1;
}

.main-expertize__desc {
  font-size: 21px;
  color: #fff;
  font-weight: normal;
  text-align: center;
  margin-top: 5px
}

.main__callback-form {
  margin-top: 30px;
  padding: 25px 20px;
  background: rgba(0,0,0, 0.7);
  text-align: center;
}

.callback-form__title {
  font-family: 'MyriadPro';
  text-align: center;
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
}

.callback-form__input {
  margin: 0 auto;
  margin-top: 30px;
  width: 277px;
  height: 47px;
  display: block;
  padding: 5px 20px;
  box-sizing: border-box;
  font-size: 17px;
}

.callback-form__input + .callback-form__input {
  margin-top: 15px;
}

.callback-form__submit {
  font-family: 'MyriadPro';
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
  line-height: 1em;
  color: #fff;
  margin-top: 20px;
  background: #ffa215;
  padding: 10px 25px;
  border-radius: 25px;
  cursor: pointer;
}

/* header desc */

.header__desc {
  margin: 0 35px;
  background: rgba(0,0,0, 0.7);
}

.header__desc-text {
  font-family: 'MyriadPro';
  font-size: 23px;
  padding: 10px 40px 15px;
  text-align: center;
  color: #fff;
  font-weight: normal;
}


/* try-free */
.try-free {
  background: #528aa5;
}

.try-free-inner {
  padding: 70px 50px;
  box-sizing: border-box;
}

.try-free__title {
  font-family: 'MyriadPro';
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  position: relative;
  letter-spacing: -1px;
  color: #fff;
}

.float-arrow {
  background: url('../images/rounded-arrow.png') no-repeat;
  background-size: cover;
  width: 81px;
  height: 151px;
  position: absolute;
  top: 25px;
  left: -80px;
}

.try-free__content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.try-free__list {
  margin-left: 70px;
}

.try-free__list-item {
  font-family: 'MyriadPro';
  font-size: 21px;
  font-weight: lighter;
  color: #fff;
  padding: 10px 0 0 40px;
  background: url('../images/galochka.png') no-repeat;
  background-position: left;
}

.button-try {
  font-family: 'MyriadPro';
  color: #fff;
  font-size: 25px;
  font-weight: normal;
  padding: 30px 60px;
  line-height: 1em;
  background: #ffa215;
  border-radius: 60px;
  text-transform: uppercase;
}

/* why us */
.why-us-inner {
  padding: 70px 50px;
  box-sizing: border-box;
}

.why-us__content {
  display: flex;
  align-items: flex-start;
}

.why-us__left {
  flex: 1;
  margin-right: 60px;
}

.why-us__right {
  flex: 1;
  margin-left: 60px;
}

.why-us__list {
  padding-top: 40px;
}

.why-us__list > *+* {
  margin-top: 30px;
}

.why-us__header {
  font-family: 'MyriadPro';
  color: #4e4e4e;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #4e4e4e;
  padding: 5px;
}

.why-us__list-item-icon {
  display: inline-block;
  vertical-align: middle;
  height: 75px;
  width: 100px;
}

.why-us__list-item-icon-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.why-us__list-item-text {
  font-family: 'MyriadPro';
  color: #4e4e4e;
  font-size: 23px;
  font-weight: normal;
  margin-left: 20px;
}

.why-us__button-holder {
  text-align: center;
  margin-top: 50px;
}

.why-us__button {
  font-family: 'MyriadPro';
  color: #fff;
  font-size: 25px;
  font-weight: normal;
  background: linear-gradient(to bottom, #eea83e 0%,#d49840 80%,#d0973f 100%);
  padding: 20px 60px 15px;
  text-transform: uppercase;
  line-height: 1em;
}


/* parthners */
.parthners {
  background: #f8f8f8;
}

.parthners-inner {
  padding: 70px 50px;
  box-sizing: border-box;
}

.parthners__title {
  font-family: 'MyriadPro';
  display: block;
  color: #4e4e4e;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #4e4e4e;
  padding-bottom: 5px;
  margin: 0 150px;
}

.parthners__logos {
  margin: 40px 0 60px;
  display: flex;
  justify-content: center;
}

.parthners__logos > *+* {
  margin-left: 90px;
}

.parthners__logo-item {
  flex: 0 0 auto;
}

.parthners__description {
  font-family: 'MyriadPro';
  display: block;
  color: #4e4e4e;
  text-align: center;
  font-size: 23px;
}

/* sertificate */
.sertificate {
  background: #FFF;
}

.sertificate-inner {
  padding: 70px 50px;
  box-sizing: border-box;
}

.sertificate__title {
  font-family: 'MyriadPro';
  display: block;
  color: #4e4e4e;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #4e4e4e;
  padding-bottom: 5px;
  margin: 0 150px;
}

.sertificate__logos {
  margin: 40px 0 60px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.sertificate__logos > *+* {
  margin-left: 90px;
}

.sertificate__logo-item {
  flex: 0 0 140px;
  text-align: center;
}

.sertificate__logo-item-text {
  font-family: 'MyriadPro';
  display: inline-block;
  margin-top: 20px;
  font-size: 14px;
}


/* mixins */
.lower-case {
  text-transform: lowercase;
}
